@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-background-colour: #ffffff;
  --primary-text-colour: #000000;
  --primary-support-colour: #77428d;
  --secondary-background-colour: #77428d;
  --secondary-text-colour: #ffffff;
  --tertiary-background-colour: #edc7ff;
  --tertiary-text-colour: #242582;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-background-colour: #77428d;
    --primary-text-colour: #ffffff;
    --secondary-background-colour: #ffffff;
    --secondary-text-colour: #77428d;
    --tertiary-background-colour: #5f2b75;
    --tertiary-text-colour: #f8e644;
  }

  input {
    background-color: var(--secondary-background-colour);
    color: #000000;
  }
}

body {
  min-height: 100vh;
  color: var(--primary-text-colour);
  background-color: var(--primary-background-colour);
}

.secondary-colour {
  color: var(--secondary-text-colour);
  background-color: var(--secondary-background-colour);
}

.tertiary-colour {
  background-color: var(--tertiary-background-colour);
  color: var(--primary-text-colour);
}

.tertiary-colour:hover {
  color: var(--tertiary-text-colour);
}

.hover-link:hover {
  color: var(--tertiary-text-colour);
}

input {
  border: solid 2px var(--primary-text-colour);
  border-radius: 0.25rem;
}

.inner-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 10%;
  padding-right: 10%;
}

.blocked-button {
  background-color: #d3d3d3;
  color: #363737;
  cursor: default;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
