@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-background-colour: #ffffff;
  --primary-text-colour: #000000;
  --secondary-background-colour: #77428d;
  --secondary-text-colour: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-background-colour: #77428d;
    --primary-text-colour: #ffffff;
    --secondary-background-colour: #ffffff;
    --secondary-text-colour: #77428d;
  }
}

body {
  color: var(--primary-text-colour);
  background-color: var(--primary-background-colour);
}

.secondary-colour {
  color: var(--secondary-text-colour);
  background-color: var(--secondary-background-colour);
}

.inner-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 10%;
  padding-right: 10%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
